header {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 60px;
}

.arrow-img {
  position: absolute;

  cursor: pointer;
  left: 30px;
}
